name: tarawiki
services:
  certbot:
    image: certbot/certbot:v5.1.0
    volumes:
      - ./certbot/deploy-hook.sh:/deploy-hook.sh:ro,Z
      - certbot-certs:/etc/letsencrypt
      - certbot-www:/var/www/html
    environment:
      - SERVER_HOSTNAME=${SERVER_HOSTNAME}
    command: >
      sh -c "trap exit TERM; while :; do
        certbot renew --webroot --webroot-path=/var/www/html --deploy-hook /deploy-hook.sh;
        sleep 12h;
      done"
    entrypoint: ""
    restart: always
    healthcheck:
      test: [ "CMD", "test", "-e", "/etc/letsencrypt/live/fullchain.pem" ]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 15

  mediawiki:
    image: mediawiki:1.44.2-fpm-alpine
    depends_on:
      mysql:
        condition: service_healthy
    volumes:
      - certbot-certs:/etc/letsencrypt:ro
      - mediawiki-html-1:/var/www/html
      - ./mediawiki/LocalSettings.php:/var/www/html/LocalSettings.php
    environment:
      SERVER_HOSTNAME: ${SERVER_HOSTNAME}
      MEDIAWIKI_DB_HOST: mysql
      MEDIAWIKI_DB_USER: ${DBUSER}
      MEDIAWIKI_DB_PASSWORD: ${DBPASS}
      MEDIAWIKI_DB_NAME: ${DBNAME}
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "php -r '$$c = @fsockopen(\"localhost\", 9000); if (is_resource($$c)) { fwrite(STDOUT, \"OK\"); fclose($$c); exit(0); } else { fwrite(STDERR, \"FAIL\"); exit(1); }'" ]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3

  mediawiki-exporter:
    build: mediawiki_exporter
    depends_on:
      mediawiki:
        condition: service_healthy
    environment:
      - MEDIAWIKI_API_URL=http://nginx
    restart: always

  mysql:
    image: mariadb:12.1
    volumes:
      - ./mysql/conf.d/:/etc/mysql/conf.d/:ro,Z
      - mysql-vol-1:/var/lib/mysql/
      - mysql-socket-vol-1:/run/mysqld/
    environment:
      - MYSQL_ROOT_PASSWORD=${DBROOT}
      - MYSQL_DATABASE=${DBNAME}
      - MYSQL_USER=${DBUSER}
      - MYSQL_PASSWORD=${DBPASS}
      - MYSQL_INITDB_SKIP_TZINFO=1
    restart: always
    healthcheck:
      test: [ "CMD", "healthcheck.sh", "--connect", "--innodb_initialized" ]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3
    user: mysql
    stop_grace_period: 45s

  nginx:
    build: nginx
    depends_on:
      certbot:
        condition: service_healthy
      mediawiki:
        condition: service_healthy
    volumes:
      - certbot-www:/web:ro
      - certbot-certs:/etc/letsencrypt:ro
      - mediawiki-html-1:/var/www/html:ro
      - ./nginx/conf.d/:/etc/nginx/conf.d/:Z
      - ./nginx/assets/logo.svg:/var/www/html/resources/assets/logo.svg:ro,Z
    environment:
      - SERVER_HOSTNAME=${SERVER_HOSTNAME}
      - ADDITIONAL_SERVER_NAMES=${ADDITIONAL_SERVER_NAMES:-}
      - IPV4_NETWORK=${IPV4_NETWORK:-172.22.1}
    ports:
      - '${HTTP_BIND:-}:${HTTP_PORT:-80}:80'
      - '${HTTPS_BIND:-}:${HTTPS_PORT:-443}:443'
    networks:
      default:
        ipv4_address: ${IPV4_NETWORK:-172.22.1}.240
    restart: always

networks:
  default:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.name: br-tarawiki
    ipam:
      driver: default
      config:
        - subnet: ${IPV4_NETWORK:-172.22.1}.0/24

volumes:
  certbot-certs:
  certbot-www:
  mediawiki-html-1:
  mysql-vol-1:
  mysql-socket-vol-1:
