name: tarawiki
services:
  blackbox-exporter:
    image: prom/blackbox-exporter:v0.28.0
    volumes:
      - ./blackbox_exporter/config.yml:/etc/blackbox_exporter/config.yml
    networks:
      default:
        aliases:
          - tarawiki-blackbox-exporter
    restart: always

  certbot:
    image: certbot/certbot:v5.2.2
    volumes:
      - ./certbot/deploy-hook.sh:/deploy-hook.sh:ro,Z
      - certbot-certs:/etc/letsencrypt
      - certbot-www:/var/www/html
    environment:
      - SERVER_HOSTNAME=${SERVER_HOSTNAME}
    networks:
      default:
        aliases:
          - tarawiki-certbot
    command: >
      sh -c "trap exit TERM; while :; do
        certbot renew --webroot --webroot-path=/var/www/html --deploy-hook /deploy-hook.sh;
        sleep 12h;
      done"
    entrypoint: ""
    restart: always
    healthcheck:
      test: [ "CMD", "test", "-e", "/etc/letsencrypt/live/fullchain.pem" ]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 15

  mediawiki:
    build: mediawiki
    depends_on:
      mysql:
        condition: service_healthy
    volumes:
      - certbot-certs:/etc/letsencrypt:ro
      - mediawiki-html-1:/var/www/html
      - ./mediawiki/extensions/VisualEditor:/var/www/html/extensions/VisualEditor
    environment:
      MW_DB_TYPE: mysql
      MW_DB_HOST: mysql
      MW_DB_USER: ${DBUSER}
      MW_DB_PASSWORD: ${DBPASS}
      MW_DB_NAME: ${DBNAME}
      MW_SERVER: https://${SERVER_HOSTNAME}
      MW_SITE_LANG: ${MW_SITE_LANG:-en}
      MW_SITE_NAME: ${MW_SITE_NAME:-MediaWiki}
      MW_ADMIN_USER: ${MW_ADMIN_USER:-admin}
      MW_ADMIN_EMAIL: ${MW_ADMIN_EMAIL}
      MW_ADMIN_PASS: ${MW_ADMIN_PASS}
    networks:
      default:
        aliases:
          - tarawiki-mediawiki
    command: php-fpm
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "php -r '$$c = @fsockopen(\"localhost\", 9000); if (is_resource($$c)) { fclose($$c); exit(0); } else { exit(1); }'" ]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3

  mediawiki-exporter:
    build: mediawiki_exporter
    depends_on:
      nginx:
        condition: service_started
    environment:
      - MEDIAWIKI_API_URL=https://wiki.taram.ca/api.php
    networks:
      default:
        aliases:
          - tarawiki-mediawiki-exporter
    restart: always

  mysql:
    image: mariadb:12.1
    volumes:
      - ./mysql/conf.d/:/etc/mysql/conf.d/:ro,Z
      - mysql-vol-1:/var/lib/mysql/
      - mysql-socket-vol-1:/run/mysqld/
    environment:
      - MYSQL_ROOT_PASSWORD=${DBROOT}
      - MYSQL_DATABASE=${DBNAME}
      - MYSQL_USER=${DBUSER}
      - MYSQL_PASSWORD=${DBPASS}
      - MYSQL_INITDB_SKIP_TZINFO=1
    networks:
      default:
        aliases:
          - tarawiki-mysql
    restart: always
    healthcheck:
      test: [ "CMD", "healthcheck.sh", "--connect", "--innodb_initialized" ]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3
    user: mysql
    stop_grace_period: 45s

  mysqld-exporter:
    image: prom/mysqld-exporter:v0.18.0
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      default:
        aliases:
          - tarawiki-mysqld-exporter
    command:
      - '--mysqld.username=root:${DBROOT}'
      - '--mysqld.address=mysql:3306'
    restart: always

  nginx:
    build: nginx
    depends_on:
      certbot:
        condition: service_healthy
      mediawiki:
        condition: service_healthy
    volumes:
      - certbot-www:/web:ro
      - certbot-certs:/etc/letsencrypt:ro
      - mediawiki-html-1:/var/www/html:ro
      - ./nginx/conf.d/:/etc/nginx/conf.d/:Z
    environment:
      - SERVER_HOSTNAME=${SERVER_HOSTNAME}
      - ADDITIONAL_SERVER_NAMES=${ADDITIONAL_SERVER_NAMES:-}
      - IPV4_NETWORK=${IPV4_NETWORK:-172.22.1}
    ports:
      - '${HTTP_BIND:-}:${HTTP_PORT:-80}:80'
      - '${HTTPS_BIND:-}:${HTTPS_PORT:-443}:443'
    networks:
      default:
        ipv4_address: ${IPV4_NETWORK:-172.22.1}.240
        aliases:
          - tarawiki-nginx
    restart: always

  nginx-exporter:
    image: nginx/nginx-prometheus-exporter:1.5.1
    depends_on:
      nginx:
        condition: service_started
    networks:
      default:
        aliases:
          - tarawiki-nginx-exporter
    command:
      - '-nginx.scrape-uri=http://tarawiki-nginx/nginx_status'
    restart: always

  prometheus:
    image: prom/prometheus:v3.9.1
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus-data:/prometheus
    networks:
      default:
        aliases:
          - tarawiki-prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
      - '--storage.tsdb.retention.time=30d'
    restart: always

networks:
  default:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.name: br-tarawiki
    ipam:
      driver: default
      config:
        - subnet: ${IPV4_NETWORK:-172.22.1}.0/24

volumes:
  certbot-certs:
  certbot-www:
  mediawiki-html-1:
  mysql-vol-1:
  mysql-socket-vol-1:
  prometheus-data:
