name: test

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v6

      - name: Set up Node environment
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Run check target
        run: make check
